*{
	margin: 0px;
	padding: 0px;
	font-family: Mukta, san-serif;
	scroll-behavior: smooth;
}
:root{
	--lightGray: #837e72;
	--Red: #DE0000;
	--Blue: #1e85ae;
	--gray: #373b49;
	--begie: #beb9ac;
	--gray1: #51576c;
	--white: #fff;
}
a{
	text-decoration: none;
}
nav{
	list-style-type: none;
}
li{
	margin: 0px;	
	padding: 12px 12px 0 px 12px;
	float: left;
	text-transform: uppercase;
	
}
nav li a{
	font-weight: 600;
	font-size: 22px;
	padding: 12px;
	
}
nav li a:link{
	color: var(--lightGray);
}
nav li a:visited{
	color: var(--lightGray);
}
nav li a:hover{
	color: var(--Red);
}
.active-link{
	border-bottom: 5px solid var(--Red);
}
nav li a.link{
	color: var(--Blue);
}
header{
	background: var(--gray1);
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	
}
header a{	
	margin-top: 11px;
}
header img{
	width: 120px;
	margin: 15px;
	
}
#cover-background{
	background-image: url("../images/cover.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 650px;
	display: flex;
	flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#cover-background h1{
	font-size: 40px;
	color: #fff;
	padding-top: 160px;
	padding-left: 75px;
}
#cover-background a{
	background-color: var(--Blue);
	color: #fff;
	font-weight: 600;
	border-radius: 6px;
	padding: 10px 50px;
	opacity: 1;
	transition: 0.3s;
}
#cover-background a:hover{
	opacity: 0.8;
}
section{
	padding-top: 10px;
	width: 100%;
}
section > h1{
	text-align: center;
	color: var(--lightGray);
	font-size: 40px;  
	
}
hr{
	width: 30%;
	margin: 0px auto;
}
article{
	display: flex;
	width: 1220px;
	height: 200px;
	padding: 10px;
	margin: 20px auto;
	background: #c2c3c4;
	position: relative;
	transition: 0.5s;
	align-items: stretch;
}
.text h2{
	font-size: 1.5rem;
	margin-left: 15px;
	color: #fff;
	letter-spacing: 1px;
}
.text p{
	height: 180px;
	font-size: 1.179rem;
	line-height: 1.3125;
	margin:0px 15px;
	text-align: justify;
	color: var(--Blue);
	font-weight: bold;
}	
article img{
	height: 200px;
}
article:hover{
	width: 1240px;
	box-shadow: 5px 10px 15px var(--lightGray);
}
.center-block{
	margin: 0px auto;
}
.margin0{
	margin-bottom: 0px;
}
#container{
	position: relative;
	min-height: 20.3vh;
}
footer{
	margin: 0px auto;
	display: flex;
	width: 100%;
	height: 55px;
	background: var(--gray);
	align-items: center;
	justify-content: space-around;
	position: absolute;
	bottom: 0;
}
#footer-nav li a{
	font-size: 18px;
	color: var(--lightGray);
}
#footer-nav li a:hover{
	color: #ccc;
}
#socials a{
	margin: 0px 3px;
	font-size: 20px;
}
#socials a:link{
	color: var(--lightGray);
}
#socials a:visited{
	color: var(--lightGray);
}
#socials a:hover{
	color: #ccc;
}
.title{
	display: flex;
	color: var(--Blue);
	justify-content: space-around;
	margin-top: 16px;
	margin-bottom: 20px;
	font-size: 28px;
}
.picture-row{
	width: 100%;
	display: flex;
	justify-content: center;
	
}
.pictures{
	width: 420px;
	height: 420px;
	display: flex;
	position: relative;
	justify-content: center;
}
.pictures img{
	width: 370px;
	height: 370px;
	margin: 0px 12px;
	border-radius: 10px;
	box-shadow: 2px 2px 3px var(--lightGray);
	object-fit: cover;
	transition: width 0.2s;
}
.pictures img:hover{
	width: 420px;
}
.truck-row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 25px;
}
.truck-models{
	width: 500px;
	display: flex;
	background: #f6f6f6;
	flex-direction: column;
	justify-content: space-evenly;
	word-wrap: break-word;
	border-radius: 10px;
	box-shadow: 3px 3px 4px var(--lightGray);
	transition: width 0.3s;
	margin-bottom: 10px;
}
.truck-picture{
	width: 200px;
	height: 200px;
	margin: 0px auto;
}
.truck-picture img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.truck-info h3{
	text-align: center;
	color: var(--Blue);
}
.truck-info p:nth-child(2){
	color: var(--lightGray);
}
.truck-models:hover{
	width: 520px;
}
#contact{
	margin-top: 14px;
	text-align: center;
	margin-bottom: 15px;
	font-size: 32px;
	color: var(--Blue);
}
form{
	display: flex;
	width: 30%;
	margin: 0px auto;
	flex-direction: column;
	margin-bottom: 96px;
}
label{
	font-weight: bold;
	margin-bottom: 5px;
	padding: 5px;
}
#nameSur{
	border: none;
	border-bottom: 2px solid var(--Blue);
}
#nameSur:focus{
	outline: none;
}
input[type=text], select{
	padding-left: 5px;
}
input[type=email], select{
	padding-left: 5px;
}
#email{
	border: none;
	border-bottom: 2px solid var(--Blue);
}
#email:focus{
	outline: none;
}
textarea{
	border: 2px solid var(--Blue);
	resize: none;
}
textarea:focus{
	outline: none;
}
textarea, select{
	padding-left: 5px;
}
#submit{
	margin: 0px auto;
	width: 50%;
	padding: 3px;
	background-color: var(--white);
	color: var(--Blue);
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
	border: 2px solid var(--Blue);
	transition: color 0.2s linear;
}
#submit:hover{
	background-color: var(--Blue);
	color: var(--white);
}
#submit:focus{
	outline-color: var(--lightGray) ;
}
#about{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
}
#picture-author img{
	width: 75%;
}
#text-area h1{
	text-align: center;
	font-size: 32px;
	color: var(--Blue);
}
#text-area p{
	width: 560px;
	text-align: justify;
	font-size: 22px;
	color: var(--lightGray);
}
#margin10{
	margin-top: 10px;
}